<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Suppress noisy libraries -->
  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="etaoin" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
